{
    "presets": ["next/babel"],
    "plugins": [
        "@emotion",
        [
            "@babel/plugin-transform-react-jsx",
            {
                "runtime": "automatic",
                "importSource": "theme-ui"
            }
        ]
    ]
}
